<%- include('./partials/header.ejs') %>
    <nav>
        <h1>Secrets</h1>
        <h3></h3>
        <a href="/logout" class="btn btn-light">Log-out</a>
    </nav>
    <div class="box container">
        <h2>Share your secrets here</h2>
        <div class="noSecretBox"></div>
        <ul class="secrets">

        </ul>
        <form id="secretForm">
            <input id="secretTxt" type="text" placeholder="Enter secrets" name="secretTxt" class="form-control">
            <input type="submit" value="Enter" class="btn btn-success">
        </form>
    </div>
    <script>
        const apiUrl = 'https://secrets-h91m.onrender.com'/* 'http://localhost:3000/secrets' */
        const userUrl = 'https://secrets-h91m.onrender.com'/* 'http://localhost:3000/secrets' */
        const secrets = document.querySelector('.secrets')
        const noScretBox = document.querySelector('.noSecretBox')
        const name = document.querySelector('nav h3')
        let userLinkToId = '' 
        let data
        // get data
        const getSecret = async () => {
            const res = await fetch(apiUrl, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                }
            })

            data = await res.json()
            userLinkToId = data.user.userId
            secrets.innerHTML = ``
            noScretBox.innerHTML = ''
            if (typeof data.message != 'undefined') {
                noScretBox.innerHTML = `<h4>${data.message}</h4>`
            }
            if (data != '') {
                name.innerText = data.user.username
                data.secrets.forEach((secret, index) => {
                    secrets.innerHTML += `<li><span>${secret.secretTxt}</span><div class='options ' onclick="openOption(${index})"><i class="fa-solid fa-ellipsis option${index}"></i><a class="option${index} ${secret._id}" href='#' onclick='updateInput()'>Edit</a><a class="option${index} text-danger" href='#' onclick='deleteSecret()'>Delete</a></div></li>`
                    if (secret.linkTo == userLinkToId) {
                        document.querySelectorAll('ul li')[index].style.justifyContent = 'right'
                        document.querySelectorAll('ul li div')[index].style.display = 'flex'
                        document.querySelectorAll('ul li span')[index].classList.add('loginUser')
                    }
                })
            }
        }
        getSecret()
        // add secret (form)
        document.querySelector('form').addEventListener('submit', async (e) => {
            let secretTxt = document.querySelector('#secretTxt')

            e.preventDefault()
            //ADD SECRET
            if(secretTxt.name == 'secretTxt'){
                const res = await fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ secretTxt: secretTxt.value, linkTo: userLinkToId })
                })
                secretTxt.value = ''
                if (res.ok) {
                    getSecret()
                } else {
                    console.log('response not ok')
                }
            }
            //UPDATE SECRET
            if(secretTxt.name == 'updateSecretTxt'){
                const res = await fetch(`${apiUrl}/${secretId}`,{
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ secretTxt: secretTxt.value,})
                })
                const data = await res.json()
                secretTxt.value = ''
                window.location.reload()
            }
        })

        //update and delete secret (form)
        let secretId 
        //update input
        async function updateInput(){
            let secretTxt = document.querySelector('#secretTxt')
            secretTxt.focus()
            
            data.secrets.forEach(secret=>{
                if(secret._id == secretId){
                    secretTxt.value = secret.secretTxt
                    secretTxt.name = 'updateSecretTxt'
                }
            })
        }


        //delete
        async function deleteSecret(){

            console.log(typeof secretId)
            const res = await fetch(`${apiUrl}/delete/${secretId}`,{
                method: 'DELETE',
            })
            const data = await res.json()
            console.log(data)
            secretId = ''
            window.location.reload()
        }

        let ele = ''
        //show hide edit delete
        function openOption(index) {
            console.log()
            if (ele != '') {
                ele[0].style.display = 'block'
                ele[1].style.display = 'none'
                ele[2].style.display = 'none'
            }
            const op = `option${index}`
            ele = document.getElementsByClassName(op)
            secretId = ele[1].classList[1]
            ele[0].style.display = 'none'
            ele[1].style.display = 'block'
            ele[2].style.display = 'block'
        }
    </script>
    </body>

    </html>