*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #198754;
    color:#fff;
    height: 70px;
    position: sticky;
    top:0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
nav h3{
    text-transform: uppercase;
}
.box{
    display: flex;
    flex-direction: column;
    width: 700px !important;
    height: 550px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 50px ;
    padding:20px;
    text-align: center;
}
/* password show hide styling */
form div{
    display: flex;
    align-items: center;
    width: 103.5%;
}
form div input{
    width: 100%;
}
i{
    font-size: 20px;
    color:#198754;
    position: relative;
    left: -30px;
}

.loginBox,.registerBox{height: auto;}
.box h2{
    color:#198754; 
}
.box a{
    display: inline-block;
    color: #198754;
}

form input{
    width: 100%;
}

#secretForm{
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#secretForm input[type='submit']{
    width: 20%;
    margin-left: 10px;
}

/* ul styling */
ul{
    list-style: none;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0 20px !important;
    padding-bottom: 10px !important;
}
ul li{
    display: flex;
    font-size: 1.4rem;
    margin-top: 10px;
}
ul li span{
    display: inline-block;
    color: #198754;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 3px 7px;
    border-radius: 10px;
}
/* options styling */
.options{
    display: none;
    order:-1;
    flex-direction: column;
    margin: 0 5px;
    justify-content: center;
    cursor: pointer;
}
.options a{
    display: none;
    text-decoration: none;
    font-size:1rem;
}
.fa-ellipsis{
    left: 0;
}

.loginUser{
    color: #fff;
    background-color: #198754;
}

/* error box styling */
.error{
    display: flex;
    width: 400px !important;
    height: auto;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:calc(50% - 125px);
    left:calc(50% - 200px);
    scale: 0;
    transition: scale .3s;
    z-index: 3;
    background-color: #fff;
}
.error h3{
    font-weight: 400;
    font-size: 1.2rem;
}
.overlay{
    display: none;
    width: 100vw;
    height: 100vh;
    position:absolute;
    z-index: 1;
    background-color: #0303036c;
}
.error a{
    color:#fff;
}

.noSecretBox{
    color:gray;
}

/* ###################### media query #################### */

@media screen and (max-width:576px) {
    .box{
        width: 100vw !important;
        margin-top: 0px;
        height: calc(100vh - 70px);
    }
    nav h1{
        text-align: center;
    }
    .error{
        width: 250px !important;
        height: auto !important;
        left: calc(50% - 125px);
        top: 10%;
    }
}